h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00796b;
}

ul {
    list-style: none;
    padding: 0;
}

.collapsible {
    background-color: #e0f7fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.classroom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #80deea;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.classroom-details {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button.ui-btn {
    background-color: #00796b;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.ui-btn:hover {
    background-color: #004d40;
}

button.ui-btn-danger {
    background-color: #d32f2f;
}

button.ui-btn-danger:hover {
    background-color: #b71c1c;
}

button.ui-btn-update {
    background-color: #0288d1;
}

button.ui-btn-update:hover {
    background-color: #01579b;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group input {
    width: 50%;
}

.modal-content label {
    font-weight: bold;
    color: #00796b;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #de530e;
}
